body {
    font-family: Vazirmatn, sans-serif;
    background: #f2f2f2;
    direction: rtl;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.card {
    width: 330px;
    border-radius: 20px;
    padding: 20px;
    background: white;
    box-shadow: 0 5px 15px #ccc;
}

.card h3 {
    margin-top: 0;
}
.number {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 2px;
    direction: ltr;
    text-align: center;
    margin: 25px 0;
}
.bank-header {
    display:flex;
    align-items:center;
    gap:10px;
}


.bank-logo {
    width:45px;
    height:45px;
    object-fit:contain;
}


.card {
    color:white;
    border-radius:20px;
    padding:20px;
    width:330px;
}
